aiohttp==2.0.7
altair==1.2.1
arrow==0.10.0
asn1crypto==0.24.0
async-timeout==1.2.1
Babel==2.5.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.6.0
binaryornot==0.4.4
bkcharts==0.2
bleach==2.0.0
bokeh==0.12.13
brewer2mpl==1.4.1
cchardet==1.1.3
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
click==6.7
click-default-group==1.2
click-plugins==1.0.3
cligj==0.4.0
cookiecutter==1.6.0
cryptography==2.1.4
CVXcanon==0.1.1
cvxpy==0.4.11
cycler==0.10.0
Cython==0.28.1
datapackage==1.2.3
decorator==4.1.2
descartes==1.1.0
dill==0.2.7.1
docutils==0.14
ecos==2.0.5
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
ezodf==0.3.2
fastcache==1.0.2
Fiona==1.7.11.post1
Flask==0.12.2
future==0.16.0
GDAL==2.2.4
geojson==2.3.0
geopandas==0.3.0
geopy==1.12.0
gitdb2==2.0.2
GitPython==2.1.5
goodtables==2.0.0
html5lib==1.0.1
idna==2.6
ijson==2.3
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
isodate==0.6.0
itsdangerous==0.24
jdcal==1.3
jedi==0.11.1
Jinja2==2.10
jinja2-time==0.2.0
joblib==0.11
jsonlines==1.2.0
jsonpointer==1.14
jsonschema==2.6.0
jsontableschema==0.10.1
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.31.12
jupyterlab-launcher==0.10.5
kiwisolver==1.0.1
linear-tsv==1.1.0
lxml==3.8.0
mapboxgl==0.5.1
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
mistune==0.8.3
mock==2.0.0
multidict==3.3.2
multiprocess==0.70.5
munch==2.2.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==1.11
nose==1.3.7
notebook==5.4.0
numexpr==2.6.4
numpy==1.14.2
openpyxl==2.4.11
osmnet==0.1.4
pandana==0.4.0
pandas==0.22.0
pandocfilters==1.4.1
parso==0.1.1
path.py==10.3.1
pbr==3.1.1
pexpect==4.4.0
pickleshare==0.7.4
pluggy==0.5.2
pomegranate==0.8.1
poyo==0.4.1
progressbar==2.3
prompt-toolkit==1.0.15
psycopg2==2.7.4
ptyprocess==0.5.2
py==1.4.34
pycodestyle==2.3.1
pycparser==2.18
pydocstyle==2.1.1
pyflakes==1.6.0
Pygments==2.2.0
pylama==7.4.3
pyOpenSSL==17.4.0
pyparsing==2.2.0
pyproj==1.9.5.1
PySAL==1.14.3
PySocks==1.6.8
python-dateutil==2.7.2
pytimeparse==1.1.6
pytz==2018.3
pyxley==0.1.0
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.18.4
rfc3986==1.1.0
Rtree==0.8.3
scikit-learn==0.19.1
scipy==1.0.0
scs==2.0.2
Send2Trash==1.5.0
Shapely==1.6.4.post1
simpleeval==0.9.5
simplegeneric==0.8.1
six==1.11.0
smmap2==2.0.3
snowballstemmer==1.2.1
SQLAlchemy==1.2.5
statistics==1.0.3.5
tables==3.4.2
tableschema==1.0.12
tabulator==1.14.0
terminado==0.8.1
testpath==0.3.1
toolz==0.8.2
tornado==4.5.3
tox==2.9.1
traitlets==4.3.2
unicodecsv==0.14.1
urbanaccess==0.1.0
urllib3==1.22
vega==0.4.4
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5
Werkzeug==0.14.1
whichcraft==0.4.1
widgetsnbextension==3.1.4
Wikidata==0.6.0
xlrd==1.1.0
yarl==0.10.0
